

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;    
    color: whitesmoke;
    @font-face {
        font-family: 'NotoSans';
        src: url('NotoSans-Bolditalic.ttf') format('truetype');
      }
    
    
    
}

.total{
background: url(./imagens/universo1.gif);
background-repeat: no-repeat;
background-size: cover;
height: auto;
width: 100%;
display: flex;
flex-direction: column;
align-content: space-evenly;
font-size: 25px;
font-family: 'NotoSans', Arial, sans-serif;

}


.cabecalho{
    font-style: italic;  
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.title{
color:  ;
 
}


.texto{
width: 80%;
height: 150px;
font-size: 25px;
align-items: center;
justify-items: center;
background-color: rgba(0, 0, 0, 0.37);
margin-left: 100px;
border-radius: 10px;
}

.txt{  
    text-align: center;   
    
}


.data{
   font-family: var(--input-date);
   text-align: center;
   display: flex;
   flex-direction: column ;   
   align-items: center;
   justify-items: center;  
   
}

#data{
    color: black;
    width: 200px;
    margin-top: 10px;
}

.botao{
    width: 90px;
    height: 30px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.65);    
    margin-top: 10px;
    
    
}

.resultado{
    height: auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction:row;     
    align-items: center;  
    margin-left: 100px;
    border-radius: 10px; 
    margin-top: 10px;      

}


.titulo{
    height: 50px;
    width: 100%;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imgdia{
    width: 48%;
    height: 480px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    
}

.descricao{
    width: 48%;
    height:auto;
    align-items: center;
    margin-bottom: 20px;    
    
}

#video{
    width: 600px;
    height: 300px;
    display: none;
}

.rodape{
    color:whitesmoke;
    font-family: 'NotoSans', Arial, sans-serif;
    height: 20px;
    font-size: 15px;
    text-align: center;
    background-color: rgb(7, 7, 7);
    position: relative;
   

    
}